[submodule "node_modules/sass"]
	path = node_modules/sass
	url = https://github.com/visionmedia/sass.js.git
[submodule "node_modules/step"]
	path = node_modules/step
	url = https://github.com/creationix/step.git
[submodule "node_modules/wwwdude"]
	path = node_modules/wwwdude
	url = https://github.com/4z3/node-wwwdude.git
[submodule "frameworks/The-M-Project"]
	path = frameworks/The-M-Project
	url = https://github.com/mwaylabs/The-M-Project.git
[submodule "node_modules/mu"]
	path = node_modules/mu
	url = https://github.com/raycmorgan/Mu
[submodule "submodules/github/callback/phonegap"]
	path = submodules/github/callback/phonegap
	url = https://github.com/callback/phonegap
[submodule "submodules/github/callback/callback-ios"]
	path = submodules/github/callback/callback-ios
	url = https://github.com/callback/callback-ios
[submodule "submodules/github/Fingertips/ios-sim"]
	path = submodules/github/Fingertips/ios-sim
	url = https://github.com/mozilla/narcissus.git
[submodule "submodules/github/tautologistics"]
	path = submodules/github/tautologistics
	url = https://github.com/tautologistics/node-htmlparser
[submodule "submodules/github/narcissus"]
	path = submodules/github/narcissus
	url = https://github.com/mozilla/narcissus.git
[submodule "submodules/github/jsdom"]
	path = submodules/github/jsdom
	url = https://github.com/tmpvar/jsdom.git
[submodule "submodules/github/querystring"]
	path = submodules/github/querystring
	url = git://github.com/visionmedia/node-querystring.git
[submodule "submodules/github/socket.io-client"]
	path = submodules/github/socket.io-client
	url = git://github.com/LearnBoost/socket.io-client.git
[submodule "submodules/github/socket.io"]
	path = submodules/github/socket.io
	url = git://github.com/LearnBoost/socket.io.git
